.button {
  font-family: inherit;
  border: none;
  border-radius: 4px;

  font-size: 16px;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: background-color 250ms $timing-function, color 250ms $timing-function;
}

.button--primary {
  padding: 10px 32px;
  background-color: $accent-color;
  color: $white-color;
  font-weight: 700;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
