.form-popup {
  &__checkbox {
    /* --webkit-appearance: none;
    --moz-appearance: none;
    appearance: none;
    position: absolute; */

    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  &__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-popup__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &--checkbox {
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.form-popup__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $primary-text;
}

.form-popup__input {
  cursor: pointer;
  margin: 0;
  padding: 14px 15px 14px 42px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;

  font-size: 12px;
  line-height: 1.17;

  transition: border 250ms $timing-function;

  &:focus {
    border: 1px solid $accent-color;
  }
}

.form-popup__icon {
  position: absolute;
  bottom: 20px;
  left: 15px;
  width: 18px;
  height: 18px;

  fill: $title-text;

  transform: translateY(50%);
  transition: fill 250ms $timing-function;

  .form-popup__input:focus & {
    fill: $accent-color;
  }
}

.form-popup__comment {
  margin: 0;
  padding: 12px 16px 12px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  width: 100%;
  resize: none;
  transition: border 250ms $timing-function;

  &:focus {
    border: 1px solid $timing-function;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-popup__label--checkbox {
  display: flex;
  margin-bottom: 0;

  font-size: 12px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  color: $primary-text;

  @include media-min($desktop) {
    font-size: 14px;
    line-height: 1.7;
  }

  a {
    color: $accent-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.form-popup__check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $title-text;
  border-radius: 2px;
  margin-right: 9px;

  .form-popup__checkbox:checked + & {
    background-color: $accent-color;
    background-image: url('../images/icon-check.svg');
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-color;
  }
}
