.logo {
  align-self: center;

  font-family: 'Raleway', sans-serif;
  color: $accent-color;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-decoration: none;
  @include media-min($desktop) {
    font-size: 26px;
  }

  &--black {
    span {
      color: #000;
    }
  }

  &--white {
    span {
      color: $white-color;
    }
    display: block;
    margin-bottom: 20px;
  }
}

// .logo {
//   align-self: center;

//   font-family: 'Raleway', sans-serif;
//   color: #000;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.2;
//   letter-spacing: 0.03em;

//   text-decoration: none;

//   &--blue {
//     color: $accent-color;
//   }

//   &--white {
//     display: block;
//     margin-bottom: 20px;
//     color: $white-color;
//   }
// }
