body {
  background-color: $white-color;
  color: $primary-text;
  margin: 0;

  font-family: 'Roboto', sans-serif;
}

body.modal-open {
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding: 60px 0;

  @include media-min($desktop) {
    padding: 94px 0;
  }
}

.row {
  @include media-min($tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.col {
  @include media-max(1199px) {
    text-align: center;
  }

  &:not(:last-child) {
    @include media-max(1199px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 50%;
    }
  }

  &:last-child {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 100%;
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-open {
}
