.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__thumb {
    position: relative;
    display: flex;
    overflow: hidden;
  }

  &__info-box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }

  &__itle {
    margin-bottom: 4px;

    color: $title-text;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    line-height: 1.87;
  }
}

.portfolio__item {
  width: calc((100% - 60px) / 3);

  transition: box-shadow 250ms $timing-function, color 250ms $timing-function;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  img {
    width: 100%;
  }
}

.portfolio__description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background: rgba(33, 150, 243, 0.9);
  transform: translate(-50%, 100%);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $white-color;

  transition: transform 250ms $timing-function;

  .portfolio__item:hover & {
    transform: translate(-50%, -50%);
  }
}
