.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
    height: 60px;

    @include media-min($tablet) {
      height: 80px;
    }
  }

  // &__nav {
  //   display: flex;
  // }

  &__main-menu {
    display: none;

    @include media-min($tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      margin-left: 88px;
    }

    @include media-min($desktop) {
      margin-left: 93px;
    }
  }
}

/*---------------- Contacts header--------------------- */
.contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @include media-min($tablet) {
    gap: 10px;
  }

  @include media-min($desktop) {
    flex-direction: row;
    gap: 30px;
  }

  // &__item + &__item {
  //   margin-bottom: 10px;
  // }
}

.contacts__link {
  display: flex;
  align-items: center;

  color: $primary-text;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms $timing-function;

  @include media-max(767px) {
    &--color {
      color: $accent-color;
      font-size: 34px;
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include media-min($tablet) {
    font-size: 12px;
  }

  @include media-min($desktop) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  margin-right: 10px;

  fill: currentColor;

  &--smartphone {
    width: 10px;
    height: 16px;
  }

  &--meil {
    width: 16px;
    height: 12px;
  }
}

// .header {
//   border-bottom: 1px solid #ececec;

//   &__container {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   &__nav {
//     display: flex;
//   }

//   &__site-nav {
//     display: flex;
//     margin-left: 93px;
//   }
//   &__item:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// /*---------------- Contacts header--------------------- */
// .header-contacts {
//   display: flex;

//   &__item + &__item {
//     margin-left: 50px;
//   }
// }

// .header-contacts__link {
//   display: flex;
//   align-items: center;

//   color: $primary-text;
//   font-weight: 500;
//   font-style: normal;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   text-decoration: none;

//   transition: color 250ms $timing-function;

//   &:hover,
//   &:focus {
//     color: $accent-color;
//   }
// }

// .header-contacts__icon {
//   margin-right: 10px;

//   fill: currentColor;

//   &--smartphone {
//     width: 10px;
//     height: 16px;
//   }

//   &--meil {
//     width: 16px;
//     height: 12px;
//   }
// }
