.hero {
  &__overlay {
    display: flex;
    align-items: center;
    padding: 0;
    height: 400px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c4c4c4;
    background-image: $bg-gradient, url('../../images/hero/hero-bg-mob.jpg');
    background-image: $bg-gradient, url('../../images/hero/hero-bg-mob.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;

    @include retina {
      background-image: $bg-gradient, url('../../images/hero/hero-bg-mob-2x.jpg');
      background-image: $bg-gradient, url('../../images/hero/hero-bg-mob-2x.webp');
    }

    @include media-min($tablet) {
      background-image: $bg-gradient, url('../../images/hero/hero-bg-tab.jpg');
      background-image: $bg-gradient, url('../../images/hero/hero-bg-tab.webp');

      @include retina {
        background-image: $bg-gradient, url('../../images/hero/hero-bg-tab-2x.jpg');
        background-image: $bg-gradient, url('../../images/hero/hero-bg-tab-2x.webp');
      }
    }

    @include media-min($desktop) {
      height: 600px;
      background-image: $bg-gradient, url('../../images/hero/hero-bg.jpg');
      background-image: $bg-gradient, url('../../images/hero/hero-bg.webp');

      @include retina {
        background-image: $bg-gradient, url('../../images/hero/hero-bg-2x.jpg');
        background-image: $bg-gradient, url('../../images/hero/hero-bg-2x.webp');
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: $white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include media-min($desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
